body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/081/488/original/andrew-stutesman-l68Z6eF2peA-unsplash.jpg?1683800135");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 500px;
  margin: 160px auto 10px auto;
  background: #dfd3c3;
  border-radius: 5px;
  padding: 40px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  opacity: 0.9;
}
h1 {
  line-height: 48px;
  margin-top: 0;
}
select {
  display: block;
  width: 80%;
  border-radius: 5px;
  padding: 15px;
  margin: 0 auto 20px auto;
  font-size: larger;
}
.city {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px dashed black;
  text-align: left;
}
.city:last-child {
  border: none;
}
h2 {
  margin: 0;
}
small {
  font-size: 20px;
  vertical-align: bottom;
}
.time {
  font-size: 28px;
  font-weight: bold;
}
.date {
  opacity: 0.7;
  font-size: 12px;
}
footer {
  text-align: center;
  font-size: 12px;
  font-weight: 600px;
}
a {
  text-decoration: none;
  color: black;
}
